# Credentials and Secrets
.env

# Maven Build Directories
**/target/
**/out/
*.class

# IDE configurations
.idea/
*.iml
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Benchmarks and Stress Tests (Testing Code)
trading-benchmarks/

# Maven Wrappers and Build Tool Files
**/.mvn/
**/mvnw
**/mvnw.cmd

# Package Locks and Frontend Dependencies
**/package-lock.json
**/node_modules/
